extends ../layout


block content
  h2= title
  p This is a simple example of the MailChimp API Node.js wrapper, using Express.

  p= content

  form(name="add-estimation", method="post", action="/run")
    div.input
    div.actions
      input(class="btn" type="submit", value="Create Draft")
